.header{
  position: absolute;
  width: 1920px;
  height: 694px;
  left: 0px;
  top: 0px;
  }

.imgBackground{
  background-image: url('../../public/headerBackground.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}